@model List<LinqStructure.Entities.Post>

@{
    ViewData["Title"] = "PostDetails";
}

<h2>PostDetails</h2>

<div>
    <h4>Post</h4>
    <hr />
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Post title</th>
                <th scope="col">Number of comments</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.Comments.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
