
@{
    ViewData["Title"] = "SearchComments";
}

<h2>Search Comments</h2>

@using (Html.BeginForm("GetCommentsForUserPosts", "Educat"))
{
<p>
    <h3>Enter User Id</h3> <input type="number" name="userId" />
    <input class="btn btn-primary" type="submit" value="Search" />
</p>
}
