
@{
    ViewData["Title"] = "SearchUserX";
}

<h2>Search UserX</h2>

@using (Html.BeginForm("UserXDetails","Educat"))
{
    <p>
        <h3>Enter User Id</h3> <input type="number" name="userId"/>
        <input class="btn btn-primary" type="submit" value="Search" />
    </p>
}
