
@{
    ViewData["Title"] = "SearchPostX";
}

<h2>Search PostX</h2>

@using (Html.BeginForm("PostXDetails", "Educat"))
{
    <p>
        <h3>Enter Post Id</h3> <input type="number" name="postId" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </p>
}
